@page
@model Schronisko.Pages.Zaginiecie.CreateModel

@{
    ViewData["Title"] = "Uttwórz";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Zgłoś zaginięcie</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Zaginiecia.Miejsce" class="control-label"></label>
                <input asp-for="Zaginiecia.Miejsce" class="form-control" />
                <span asp-validation-for="Zaginiecia.Miejsce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zaginiecia.Opis" class="control-label"></label>
                <input asp-for="Zaginiecia.Opis" class="form-control" />
                <span asp-validation-for="Zaginiecia.Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zaginiecia.Zdjecie" class="control-label"></label>
                <input asp-for="Zaginiecia.Zdjecie" class="form-control" />
                <span asp-validation-for="Zaginiecia.Zdjecie" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Zgłoś" class="btn btn-primary" asp-page-handler="Submit"/>
            </div>
        </form>
       
    </div>
</div>

<div>
    <a asp-page="../Index" class="btn btn-primary">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
