@page
@model Schronisko.Pages.Skrzynka.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Wiadomosci</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Wiadomosci.Id" />
           
               
                <input type="hidden" asp-for="Wiadomosci.Nadawca" class="form-control" />
           
            <div class="form-group">
                <label asp-for="Wiadomosci.Odbiorca" class="control-label"></label>
                <input asp-for="Wiadomosci.Odbiorca" class="form-control" />
                <span asp-validation-for="Wiadomosci.Odbiorca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wiadomosci.Tresc" class="control-label"></label>
                <input asp-for="Wiadomosci.Tresc" class="form-control" />
                <span asp-validation-for="Wiadomosci.Tresc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
