@page
@model Schronisko.Pages.Ogloszenia.CreateModel

@{
    ViewData["Title"] = "Utwórz";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Dodaj Ogłoszenie</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="Ogloszenie.Gatunek" class="control-label"></label>
                <input asp-for="Ogloszenie.Gatunek" class="form-control" />
                <span asp-validation-for="Ogloszenie.Gatunek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ogloszenie.Imie" class="control-label"></label>
                <input asp-for="Ogloszenie.Imie" class="form-control" />
                <span asp-validation-for="Ogloszenie.Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ogloszenie.Rasa" class="control-label"></label>
                <input asp-for="Ogloszenie.Rasa" class="form-control" />
                <span asp-validation-for="Ogloszenie.Rasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ogloszenie.Wiek" class="control-label"></label>
                <input asp-for="Ogloszenie.Wiek" class="form-control" />
                <span asp-validation-for="Ogloszenie.Wiek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ogloszenie.Opis" class="control-label"></label>
                <input asp-for="Ogloszenie.Opis" class="form-control" />
                <span asp-validation-for="Ogloszenie.Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ogloszenie.Zdjecie" class="control-label"></label>
                <input asp-for="Ogloszenie.Zdjecie" class="form-control" />
                <span asp-validation-for="Ogloszenie.Zdjecie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="btn btn-secondary">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
