@page
@model Schronisko.Pages.ZaginieciaFormularz.CreateModel

@{
    ViewData["Title"] = "Utwórz";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Utwórz</h1>

<h4>Zaginięcia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Zaginiecia.Miejsce" class="control-label"></label>
                <input asp-for="Zaginiecia.Miejsce" class="form-control" />
                <span asp-validation-for="Zaginiecia.Miejsce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zaginiecia.Opis" class="control-label"></label>
                <input asp-for="Zaginiecia.Opis" class="form-control" />
                <span asp-validation-for="Zaginiecia.Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zaginiecia.Zdjecie" class="control-label"></label>
                <input asp-for="Zaginiecia.Zdjecie" class="form-control" />
                <span asp-validation-for="Zaginiecia.Zdjecie" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Zaginiecia.Zaakceptowane" /> @Html.DisplayNameFor(model => model.Zaginiecia.Zaakceptowane)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Zaginiecia.Aktualne" /> @Html.DisplayNameFor(model => model.Zaginiecia.Aktualne)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
