@using Microsoft.AspNetCore.Identity
@using Schronisko.Areas.Identity.Data

@inject SignInManager<SchroniskoUsers> SignInManager
@inject UserManager<SchroniskoUsers> UserManager

        @if(((await UserManager.GetUserAsync(User)).IsAdmin).Equals(true))

        {
            <h1>Administrator</h1>
        }
        else @if(((await UserManager.GetUserAsync(User)).IsWolontariusz).Equals(true))
        {
            <h1>Wolontariusz</h1>
        }else{
            <h1>Zwykły użytkownik</h1>
        }